:root {
    scroll-behavior: smooth;
    --main-background: #fffaebe3;
    --main-solid: #fffaeb;
    --main-dark: #1b576a;
    --accent: #ff36b8;
    --accent-light: #f7aadca8;
    --inactive: #b1afa8e3;
    --main-light: #11b8cf;
    --title-background: linear-gradient(90deg, #2b6e7a 0%, #1b576a 100%);
    --container-background: #fffaebe3;
    --shadow: #8e847f91;
    --font-dark: #1b576a;
    --font-light: #fffff6;
    --clip-amount: 50%;
}

body {
    padding: 0;
    margin: 0;
    background: var(--main-background);
    color: var(--font-color);
    font-family: "Cabin", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 10%;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 40px;
    height: auto;
    position: relative;
    cursor: pointer;
}

section .upper {
    height: 600px;
    width: auto;
    position: relative;
    display: flex;
    place-content: center;
}

.slide_wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    place-content: center;
    clip-path: inset(0 var(--clip-amount) 0 0);
}

section img {
    object-fit: cover;
    height: 100%;
    aspect-ratio: 3/2;
    position: absolute;
    top: 0;
}

.divider {
    position: absolute;
    background: var(--main-background);
    width: 6px;
    height: 100%;
    left: calc(100% - var(--clip-amount));
    z-index: 2;
}

#image_slider {
    cursor: pointer;
    width: 200px;
}

:is(header, footer) {
    color: var(--font-light)
}

:is(ul, ol) {
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: var(--title-background-light);
    transition: color .2s ease, background .2s ease;
    display: block;
}

:is(h1, .card-title) {
    background: var(--title-background);
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
    text-align: center;
}

header {
    padding: 20px;
    margin: 0;
    text-align: center;
    background: var(--title-background);
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--title-background);
    padding: 4px 10px;
    bottom: 0;
    position: fixed;
    box-sizing: border-box;
}

footer a {
    font-weight: 400;
    font-style: italic;
    color: var(--font-color);
}

.speech_bubble {
    position: relative;
    background: var(--main-solid);
    border-radius: 16px;
    z-index: 3;
    height: fit-content;
    padding: 8px 16px;
    font-size: 45px;
    top: 30%;
    right: -15%;
    animation: pop-in .2s;
}

.speech_bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-top-color: var(--main-solid);
    border-bottom: 0;
    border-left: 0;
    margin-left: -17.5px;
    margin-bottom: -24px;
}

.hidden {
    display: none;
}

@keyframes pop-in {
    0% {
        transform: scale(.75)
    }

    80% {
        transform: scale(1.15)
    }

    100% {
        transform: scale(1)
    }

}